{
  "openapi": "3.0.3",
  "info": {
    "title": "FitCure / take.health API",
    "version": "1.0.0",
    "description": "Production REST API for the **FitCure / take.health** AI healthcare platform.\n\nThis specification covers **every endpoint actually used by the web client\n(`client/src`)** and verified against the live backend (`server/routes` +\n`server/controllers`). Use it as the single source of truth when building\nthe Flutter mobile app or any third-party integration.\n\n## Highlights\n\n* **Auth** — JWT Bearer, 30-day expiry, OTP-based registration, password\n  reset via 4-digit email code.\n* **AI** — Lab-report analysis, food image scan, personalised diet plans,\n  glucose-trend insights, multilingual translation (Hindi default), AI\n  chat coach.\n* **Health data** — Reports, glucose / HbA1c / weight / BP / HR metrics,\n  nutrition logs, water / weight tracking, wearable device sync.\n* **Doctors** — Discovery, booking, video consultations, prescriptions,\n  reviews, full doctor workspace under `/doctors/me/*`.\n* **Admin** — Full web-only dashboard suite (mobile clients can ignore).\n\nSee `README.md` next to this file for environment URLs, conventions,\nFlutter codegen instructions, and known quirks.\n",
    "termsOfService": "https://take.health/terms",
    "contact": {
      "name": "take.health Engineering",
      "email": "engineering@take.health"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://take.health/license"
    }
  },
  "servers": [
    {
      "url": "https://api.take.health/api",
      "description": "Production"
    },
    {
      "url": "https://{deployment}.vercel.app/api",
      "description": "Vercel preview / staging",
      "variables": {
        "deployment": {
          "default": "fitcure-staging",
          "description": "Vercel deployment slug"
        }
      }
    },
    {
      "url": "http://localhost:5001/api",
      "description": "Local development"
    },
    {
      "url": "http://{lanIp}:5001/api",
      "description": "LAN dev (testing from a physical phone)",
      "variables": {
        "lanIp": {
          "default": "192.168.1.10",
          "description": "Your machine's LAN IP"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Health-check, ping and diagnostics. Useful as a connectivity probe from mobile."
    },
    {
      "name": "Auth",
      "description": "Registration (with OTP), login, logout, password reset, profile retrieval."
    },
    {
      "name": "User Profile",
      "description": "Authenticated user profile, food preferences, subscription details."
    },
    {
      "name": "Health Reports",
      "description": "Upload lab reports → AI analysis → history, comparisons, per-report chat."
    },
    {
      "name": "Dashboard",
      "description": "Aggregated dashboard, Health DNA, daily progress, challenges, smoking log, AI chat."
    },
    {
      "name": "Health Metrics",
      "description": "Log and read glucose, HbA1c, weight, blood pressure, heart-rate readings."
    },
    {
      "name": "Nutrition",
      "description": "AI food analysis, meal logging, daily / weekly summaries, water & weight logs, goals."
    },
    {
      "name": "Quick Food Check",
      "description": "One-shot AI scan of a food (text or image) — does NOT log it as a meal."
    },
    {
      "name": "Diet Plan & Supplements",
      "description": "AI-generated personalised diet plans and supplement recommendations."
    },
    {
      "name": "Doctors",
      "description": "Public doctor discovery + patient-side booking and appointment management."
    },
    {
      "name": "Video Consultation",
      "description": "Start / end / summarise an appointment, submit a review, download prescription."
    },
    {
      "name": "Doctor Workspace",
      "description": "Endpoints under `/doctors/me/*`. Only callable by users with the `doctor` role."
    },
    {
      "name": "Wearables",
      "description": "Connect smart-watch / fitness device, sync daily metrics, heart-rate, sleep."
    },
    {
      "name": "Medical Documents",
      "description": "Secure cloud vault for prescriptions, scans, insurance, etc."
    },
    {
      "name": "AI Coach Chat",
      "description": "General-purpose AI health coach with conversation history."
    },
    {
      "name": "Notifications",
      "description": "In-app notifications inbox."
    },
    {
      "name": "Translation",
      "description": "AI-powered text translation (default target = Hindi)."
    },
    {
      "name": "Food Safety",
      "description": "Curated food adulteration / safety database (no auth required)."
    },
    {
      "name": "Support",
      "description": "User-side support ticket creation; admin response endpoints."
    },
    {
      "name": "Admin - Stats",
      "description": "Admin dashboard metrics. Requires `admin` role."
    },
    {
      "name": "Admin - Users",
      "description": "Admin user management. Requires `admin` role."
    },
    {
      "name": "Admin - Reports",
      "description": "Admin report oversight. Requires `admin` role."
    },
    {
      "name": "Admin - Doctors",
      "description": "Admin doctor management & approval workflow. Requires `admin` role."
    },
    {
      "name": "Admin - Diet & Supplements",
      "description": "Admin curation of diet templates, deficiency rules, supplement mappings."
    },
    {
      "name": "Admin - Food Cache",
      "description": "Admin curation of the global food intelligence cache."
    },
    {
      "name": "Admin - Activity Logs",
      "description": "User activity audit trail and live-user telemetry."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health-check": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "API & DB health probe",
        "description": "Lightweight liveness probe. Returns API info and current MongoDB\nconnection state. **Does NOT require authentication.**\n",
        "security": [],
        "responses": {
          "200": {
            "description": "API is up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "message": {
                      "type": "string",
                      "example": "FitCure API"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "example": "production"
                    },
                    "dbConnected": {
                      "type": "boolean"
                    },
                    "dbState": {
                      "type": "integer",
                      "description": "Mongoose readyState (1 = connected)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Simple ping",
        "description": "Returns `pong`. Use to validate the base URL from a Flutter app at startup.",
        "security": [],
        "responses": {
          "200": {
            "description": "Pong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "pong"
                    },
                    "domain": {
                      "type": "string",
                      "example": "api.take.health"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/debug-connection": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Deep DB diagnostics",
        "description": "Internal — returns the result of three sequential DB probes. **Do not call from mobile clients.**",
        "security": [],
        "responses": {
          "200": {
            "description": "All probes passed"
          },
          "503": {
            "description": "Connection failed"
          }
        }
      }
    },
    "/auth/register-otp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request a registration OTP",
        "description": "Sends a **6-digit email OTP** that must be provided in the subsequent\n`/auth/register` call. The OTP expires in 15 minutes.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "jane@example.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "Jane Doe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "description": "Email already registered or missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new (patient) user",
        "description": "Final registration step. Requires the **6-digit OTP** obtained from\n`/auth/register-otp`. On success returns the user object **with a JWT\ntoken** — store it and use it as `Authorization: Bearer <token>`.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or invalid OTP"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/auth/register/doctor": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a doctor (pending approval)",
        "description": "Creates a user with `role=doctor` and an associated doctor profile in\n`pending` approval status. The doctor cannot be booked until an admin\napproves them.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoctorRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Doctor registered, awaiting approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Email already used"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login with email **or** phone + password",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 6
                  }
                },
                "description": "Provide either `email` or `phone` — not both required."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Account is deactivated"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout (audit only)",
        "description": "Backend logs the logout activity. The client should still drop the JWT locally.",
        "responses": {
          "200": {
            "description": "Logged out"
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send password-reset code",
        "description": "Emails a **4-digit numeric** code (valid 10 minutes).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code sent"
          },
          "404": {
            "description": "No account with that email"
          }
        }
      }
    },
    "/auth/verify-reset-code": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify the password-reset code",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "code"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "code": {
                    "type": "string",
                    "example": "1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code valid"
          },
          "400": {
            "description": "Invalid or expired code"
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Set a new password",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "code",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "code": {
                    "type": "string",
                    "example": "1234"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated"
          },
          "400": {
            "description": "Invalid code or weak password"
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get the authenticated user's profile",
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Auth"
        ],
        "summary": "Update the authenticated user's profile",
        "description": "Sends a partial user document. Server merges `profile.*`, recalculates\nBMI when height/weight change, and updates the associated `HealthGoal`\nif a `nutritionGoal` is included.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "profile": {
                    "$ref": "#/components/schemas/UserProfile"
                  },
                  "nutritionGoal": {
                    "$ref": "#/components/schemas/NutritionGoal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/User"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "bmiChanged": {
                          "type": "boolean"
                        },
                        "newBmi": {
                          "type": "number",
                          "example": 23.4
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/upload-profile-picture": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Upload / replace profile picture",
        "description": "Multipart upload. The image is stored on Cloudinary and the URL is set\non `user.profilePicture`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "profilePicture"
                ],
                "properties": {
                  "profilePicture": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "profilePicture": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/subscription": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get my subscription status",
        "responses": {
          "200": {
            "description": "Subscription block from the user document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/users/food-preferences": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get my food preferences",
        "responses": {
          "200": {
            "description": "Stored preferences (empty object if never set)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/FoodPreferences"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Profile"
        ],
        "summary": "Save / replace food preferences",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FoodPreferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/FoodPreferences"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/upload": {
      "post": {
        "tags": [
          "Health Reports"
        ],
        "summary": "Upload a lab report for AI analysis",
        "description": "Multipart upload (PDF, image, or text). Returns **immediately** with\n`backgroundProcessing: true`; the AI runs in the background. Poll\n`GET /health/reports/{id}/status` until `status === \"completed\"`.\n\nSet a generous client timeout (≥ 150 s) — even though processing is\nasync, the validation step can take ~30 s.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "report"
                ],
                "properties": {
                  "report": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF / JPEG / PNG / TXT lab report"
                  },
                  "reportType": {
                    "type": "string",
                    "example": "blood",
                    "description": "Free-text category. Defaults to `general`."
                  },
                  "manualText": {
                    "type": "string",
                    "description": "Optional plain text content (used when the file isn't a parseable PDF)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report created, AI analysis enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report": {
                      "$ref": "#/components/schemas/HealthReport"
                    },
                    "backgroundProcessing": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Not a medical report"
          }
        }
      }
    },
    "/health/reports": {
      "get": {
        "tags": [
          "Health Reports"
        ],
        "summary": "List my reports (latest 50)",
        "description": "Returns all non-failed reports sorted by `createdAt desc`.",
        "responses": {
          "200": {
            "description": "Reports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HealthReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/reports/{id}": {
      "get": {
        "tags": [
          "Health Reports"
        ],
        "summary": "Get a single report (with doctor recommendations)",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Report + matching recommended doctors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report": {
                      "$ref": "#/components/schemas/HealthReport"
                    },
                    "recommendedDoctors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Doctor"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Report not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Health Reports"
        ],
        "summary": "Delete a report",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/health/reports/{id}/status": {
      "get": {
        "tags": [
          "Health Reports"
        ],
        "summary": "Poll the AI processing status",
        "description": "Returns the current status of background analysis. Reports stuck in\n`processing` for > 10 minutes are auto-marked `failed`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "reportType": {
                      "type": "string"
                    },
                    "healthScore": {
                      "type": "number",
                      "example": 78
                    },
                    "summary": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/reports/{id}/compare": {
      "get": {
        "tags": [
          "Health Reports"
        ],
        "summary": "Compare this report with the previous same-type report",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Comparison object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comparison": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "currentReport": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "reportType": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "healthScore": {
                          "type": "number"
                        }
                      }
                    },
                    "previousReport": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "reportType": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "healthScore": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No previous report"
          }
        }
      }
    },
    "/health/reports/{id}/chat": {
      "post": {
        "tags": [
          "Health Reports"
        ],
        "summary": "Chat with AI about this specific report",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "example": "What does my low Vitamin D mean?"
                  },
                  "chatHistory": {
                    "$ref": "#/components/schemas/ChatHistory"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI reply",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/reports/{id}/reanalyze": {
      "post": {
        "tags": [
          "Health Reports"
        ],
        "summary": "Re-run AI analysis on an existing report",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Re-analysis scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Re-analysis started"
                    },
                    "status": {
                      "type": "string",
                      "example": "processing"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/history": {
      "get": {
        "tags": [
          "Health Reports"
        ],
        "summary": "Get grouped report history",
        "parameters": [
          {
            "in": "query",
            "name": "reportType",
            "schema": {
              "type": "string"
            },
            "description": "Filter to a single report type (e.g. `blood`, `lipid`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Reports grouped by `reportType`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "history": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "date": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "healthScore": {
                              "type": "number"
                            },
                            "metrics": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "keyFindings": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "totalReports": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/report-comparison": {
      "get": {
        "tags": [
          "Health Reports"
        ],
        "summary": "List the last 10 completed reports (for comparison UI)",
        "responses": {
          "200": {
            "description": "Reports list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasData": {
                      "type": "boolean"
                    },
                    "reports": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HealthReport"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Aggregated dashboard (cached 120 s)",
        "description": "Heavy aggregation endpoint. Combines reports, wearable history, food\nlogs, glucose readings and goals into a single payload that powers the\nmain dashboard screen.\n\n**Do not poll** — the response is cached for 120 s.\n",
        "responses": {
          "200": {
            "description": "Dashboard data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          }
        }
      }
    },
    "/health/health-dna": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get my \"Health DNA\" personalised profile",
        "description": "AI-generated wellness identity. Cached server-side for 24 hours.",
        "responses": {
          "200": {
            "description": "Health DNA",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "AI-generated DNA (shape is dynamic — render fields as returned).",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/health/daily-progress": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Save / upsert a day's progress score",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "date",
                  "totalScore"
                ],
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-05-25"
                  },
                  "totalScore": {
                    "type": "number",
                    "example": 87
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          }
        }
      }
    },
    "/health/daily-progress/{date}": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get a single day's progress",
        "parameters": [
          {
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "progress": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "userId": {
                          "type": "string"
                        },
                        "date": {
                          "type": "string"
                        },
                        "totalScore": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/ai-chat": {
      "post": {
        "tags": [
          "Dashboard",
          "AI Coach Chat"
        ],
        "summary": "Lightweight AI Q&A (also used by Smoke Tracker)",
        "description": "Direct Anthropic Claude call with the user's latest report summary as\ncontext. Use this for short Q&A or specific tracker hints. For the\nfull conversational coach use `POST /chat`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string",
                    "description": "Alias for `query`"
                  },
                  "conversationHistory": {
                    "$ref": "#/components/schemas/ChatHistory"
                  },
                  "chatHistory": {
                    "$ref": "#/components/schemas/ChatHistory"
                  }
                },
                "description": "Provide either `query` or `message`."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI reply",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/metric-info": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get human-friendly explanation of a lab metric",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metricName"
                ],
                "properties": {
                  "metricName": {
                    "type": "string",
                    "example": "HDL Cholesterol"
                  },
                  "metricValue": {
                    "type": "string",
                    "example": "45 mg/dL"
                  },
                  "normalRange": {
                    "type": "string",
                    "example": ">40 mg/dL (men)"
                  },
                  "unit": {
                    "type": "string",
                    "example": "mg/dL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI explanation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metricInfo": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/challenge": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get 30-day challenge progress",
        "responses": {
          "200": {
            "description": "Challenge data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challengeData": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "streakDays": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Save 30-day challenge progress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "challengeData"
                ],
                "properties": {
                  "challengeData": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          }
        }
      }
    },
    "/health/smoke-log": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get smoking-cessation tracker log",
        "responses": {
          "200": {
            "description": "Smoke log",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "smokeLog": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Save smoking-cessation tracker log",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "smokeLog"
                ],
                "properties": {
                  "smokeLog": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          }
        }
      }
    },
    "/metrics": {
      "post": {
        "tags": [
          "Health Metrics"
        ],
        "summary": "Log a new health metric",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HealthMetricInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthMetric"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          }
        }
      }
    },
    "/metrics/{type}": {
      "get": {
        "tags": [
          "Health Metrics"
        ],
        "summary": "List metrics of a given type (latest first)",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blood_sugar",
                "hba1c",
                "weight",
                "blood_pressure",
                "heart_rate"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HealthMetric"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics/summary/latest": {
      "get": {
        "tags": [
          "Health Metrics"
        ],
        "summary": "Latest reading for each requested type",
        "parameters": [
          {
            "in": "query",
            "name": "types",
            "required": true,
            "description": "Comma-separated metric types.",
            "schema": {
              "type": "string",
              "example": "heart_rate,blood_pressure,blood_sugar"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map of `type → latest reading`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/HealthMetric"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics/analysis/glucose": {
      "get": {
        "tags": [
          "Health Metrics"
        ],
        "summary": "AI-powered glucose-trend analysis (last 14 days)",
        "description": "Combines recent glucose readings, the latest HbA1c, and today's food\nlog to produce a structured AI insight. Result is **cached server-side\nper data-hash** so token usage stays low.\n",
        "responses": {
          "200": {
            "description": "AI analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "Mostly stable"
                        },
                        "statusColor": {
                          "type": "string",
                          "enum": [
                            "gray",
                            "green",
                            "orange",
                            "red"
                          ]
                        },
                        "analysis": {
                          "type": "string"
                        },
                        "spikeCause": {
                          "type": "string"
                        },
                        "immediateAction": {
                          "type": "string"
                        },
                        "recommendations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/analyze-food": {
      "post": {
        "tags": [
          "Nutrition"
        ],
        "summary": "AI analyse a food (text or base64 image)",
        "description": "Used by the meal-logging flow to compute calories, macros,\nmicronutrients, warnings and alternatives **before** the user logs the\nmeal. The result is also stored in the global food cache for faster\nfuture lookups.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "foodDescription": {
                    "type": "string",
                    "example": "2 rotis with dal"
                  },
                  "imageBase64": {
                    "type": "string",
                    "description": "Base64 (no data URI prefix)"
                  },
                  "additionalContext": {
                    "type": "string",
                    "example": "Quantity: 1 bowl. Prep: home-cooked"
                  }
                },
                "description": "At least one of `foodDescription` / `imageBase64` is required."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "analysis": {
                      "$ref": "#/components/schemas/FoodAnalysis"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/quick-check": {
      "post": {
        "tags": [
          "Quick Food Check"
        ],
        "summary": "One-shot AI food check (image multipart **or** text JSON)",
        "description": "Same engine as `/nutrition/analyze-food` but persisted as a\n`QuickFoodCheck` document and **not** counted in the daily meal log.\nUsed by the \"Snap & Check\" screen.\n\nAccepts either multipart (image upload) or `application/json`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "foodDescription": {
                    "type": "string"
                  },
                  "additionalContext": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "string",
                    "example": "1 plate"
                  },
                  "prepMethod": {
                    "type": "string",
                    "example": "fried"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "foodDescription": {
                    "type": "string"
                  },
                  "imageBase64": {
                    "type": "string"
                  },
                  "additionalContext": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "string"
                  },
                  "prepMethod": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved food check",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/QuickFoodCheck"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/quick-checks/{id}": {
      "delete": {
        "tags": [
          "Quick Food Check"
        ],
        "summary": "Delete a Quick Food Check entry",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/nutrition/quick-checks/history/date": {
      "get": {
        "tags": [
          "Quick Food Check"
        ],
        "summary": "Get all Quick Food Check entries for a given date",
        "description": "Returns every Quick Food Check the user performed on the supplied\ndate, plus the aggregated daily stats used by the dashboard widget.\n",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "ISO date (YYYY-MM-DD). Defaults to *today* if omitted."
          }
        ],
        "responses": {
          "200": {
            "description": "Daily history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "format": "date"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "checks": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/QuickFoodCheck"
                          }
                        },
                        "totals": {
                          "type": "object",
                          "properties": {
                            "calories": {
                              "type": "number"
                            },
                            "protein": {
                              "type": "number"
                            },
                            "carbs": {
                              "type": "number"
                            },
                            "fat": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/log-meal": {
      "post": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Log a meal (added to daily totals)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogMealRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Logged",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "foodLog": {
                      "$ref": "#/components/schemas/FoodLog"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/logs": {
      "get": {
        "tags": [
          "Nutrition"
        ],
        "summary": "List food logs for a specific date",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-05-25"
            },
            "description": "Defaults to today (UTC)."
          }
        ],
        "responses": {
          "200": {
            "description": "Logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FoodLog"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/logs/today": {
      "get": {
        "tags": [
          "Nutrition"
        ],
        "summary": "List today's food logs",
        "responses": {
          "200": {
            "description": "Logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FoodLog"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/logs/{id}": {
      "put": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Update an existing food log (e.g. change meal type)",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mealType": {
                    "type": "string",
                    "enum": [
                      "breakfast",
                      "lunch",
                      "dinner",
                      "snack",
                      "midMorningSnack",
                      "eveningSnack"
                    ]
                  },
                  "foodItems": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FoodItem"
                    }
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated log",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FoodLog"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Delete a food log",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/nutrition/summary/daily": {
      "get": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Get daily nutrition summary",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NutritionSummary"
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/summary/weekly": {
      "get": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Get last-7-days nutrition summary",
        "responses": {
          "200": {
            "description": "Weekly summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NutritionSummary"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/goals": {
      "get": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Get my nutrition / health goal",
        "responses": {
          "200": {
            "description": "Goal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "healthGoal": {
                      "$ref": "#/components/schemas/HealthGoal"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No goal set"
          }
        }
      },
      "put": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Upsert my nutrition / health goal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HealthGoalInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "healthGoal": {
                      "$ref": "#/components/schemas/HealthGoal"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/log-water": {
      "post": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Log water intake (glasses)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "waterIntake"
                ],
                "properties": {
                  "waterIntake": {
                    "type": "number",
                    "example": 6,
                    "description": "Glasses (1 glass ≈ 250 ml)"
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Defaults to today"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          }
        }
      }
    },
    "/nutrition/log-weight": {
      "post": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Log body-weight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "weight"
                ],
                "properties": {
                  "weight": {
                    "type": "number",
                    "example": 71.4
                  },
                  "notes": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "metric": {
                      "$ref": "#/components/schemas/HealthMetric"
                    },
                    "healthGoal": {
                      "$ref": "#/components/schemas/HealthGoal"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nutrition/food-image": {
      "get": {
        "tags": [
          "Nutrition"
        ],
        "summary": "Resolve a food name to a cover image URL",
        "description": "Used by the diet-plan UI to display nice thumbnails next to suggested foods.",
        "parameters": [
          {
            "in": "query",
            "name": "foodName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "source": {
                      "type": "string",
                      "example": "BingThumb"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/diet-recommendations/diet-plan/generate": {
      "post": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "Generate a personalised AI diet plan",
        "description": "Kicks off background generation. Poll\n`/diet-recommendations/diet-plan/{planId}/status` until\n`status === \"completed\"`, then fetch via `/diet-plan/active` or\n`/diet-plan/{planId}`.\n\nBody is optional — server uses the latest user profile + reports if no\noverrides are sent.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Optional overrides; all fields fallback to user profile.",
                "properties": {
                  "dietaryPreference": {
                    "type": "string",
                    "enum": [
                      "vegetarian",
                      "vegan",
                      "non-vegetarian",
                      "eggetarian"
                    ]
                  },
                  "allergies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "fitnessGoals": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Plan generation queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "dietPlanId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/diet-recommendations/diet-plan/active": {
      "get": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "Get the active diet plan (or `null`)",
        "responses": {
          "200": {
            "description": "Plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "dietPlan": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PersonalizedDietPlan"
                        }
                      ],
                      "nullable": true,
                      "description": "`null` when the user has no active plan."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/diet-recommendations/diet-plan/history": {
      "get": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "List the last 10 generated plans",
        "responses": {
          "200": {
            "description": "History",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "history": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PersonalizedDietPlan"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/diet-recommendations/diet-plan/{planId}": {
      "get": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "Get a specific diet plan",
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "dietPlan": {
                      "$ref": "#/components/schemas/PersonalizedDietPlan"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/diet-recommendations/diet-plan/{planId}/status": {
      "get": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "Poll diet-plan generation status",
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "generating",
                        "completed",
                        "failed"
                      ]
                    },
                    "generatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/diet-recommendations/diet-plan/{planId}/rate": {
      "post": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "Rate a diet plan (1 – 5) with optional feedback",
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "feedback": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thanks"
          }
        }
      }
    },
    "/diet-recommendations/supplements/generate": {
      "post": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "Generate AI supplement recommendations from latest reports",
        "responses": {
          "200": {
            "description": "Recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "recommendations": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SupplementRecommendation"
                        }
                      ],
                      "nullable": true,
                      "description": "`null` when no deficiencies were detected."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/diet-recommendations/supplements/active": {
      "get": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "Get the active supplement recommendation set",
        "responses": {
          "200": {
            "description": "Recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "recommendations": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SupplementRecommendation"
                        }
                      ],
                      "nullable": true,
                      "description": "`null` when no active supplement recommendations exist."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/diet-recommendations/supplements/{recommendationId}/track": {
      "post": {
        "tags": [
          "Diet Plan & Supplements"
        ],
        "summary": "Log that a supplement was taken",
        "parameters": [
          {
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "supplementName"
                ],
                "properties": {
                  "supplementName": {
                    "type": "string"
                  },
                  "dosage": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tracked"
          }
        }
      }
    },
    "/doctors": {
      "get": {
        "tags": [
          "Doctors"
        ],
        "summary": "List approved doctors",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "specialization",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "available",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Doctors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Doctor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doctors/recommended": {
      "get": {
        "tags": [
          "Doctors"
        ],
        "summary": "Get doctors recommended for a list of specializations",
        "parameters": [
          {
            "in": "query",
            "name": "specializations",
            "required": true,
            "description": "Comma-separated list (e.g. `cardiology,endocrinology`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Doctors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Doctor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doctors/{id}": {
      "get": {
        "tags": [
          "Doctors"
        ],
        "summary": "Get a single approved doctor",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Doctor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Doctor"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/doctors/book": {
      "post": {
        "tags": [
          "Doctors"
        ],
        "summary": "Book an appointment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "doctorId",
                  "date",
                  "timeSlot"
                ],
                "properties": {
                  "doctorId": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "timeSlot": {
                    "type": "string",
                    "example": "10:30 AM"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "video",
                      "phone",
                      "in-person"
                    ],
                    "default": "video"
                  },
                  "symptoms": {
                    "type": "string"
                  },
                  "healthReportId": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400": {
            "description": "Slot already taken"
          }
        }
      }
    },
    "/doctors/appointments": {
      "get": {
        "tags": [
          "Doctors"
        ],
        "summary": "List my appointments (as patient)",
        "responses": {
          "200": {
            "description": "Appointments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doctors/appointments/{appointmentId}": {
      "get": {
        "tags": [
          "Doctors",
          "Video Consultation"
        ],
        "summary": "Get appointment details (includes video-room info)",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppointmentIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "403": {
            "description": "You are not patient or doctor on this appointment"
          }
        }
      }
    },
    "/doctors/appointments/{appointmentId}/start": {
      "post": {
        "tags": [
          "Video Consultation"
        ],
        "summary": "Start a consultation (sets status `in-progress`)",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppointmentIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "appointment": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doctors/appointments/{appointmentId}/end": {
      "post": {
        "tags": [
          "Video Consultation"
        ],
        "summary": "End a consultation (records prescription + follow-up)",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppointmentIdParam"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notes": {
                    "type": "string"
                  },
                  "prescription": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Prescription"
                    }
                  },
                  "followUpDate": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ended",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "appointment": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doctors/appointments/{appointmentId}/summary": {
      "get": {
        "tags": [
          "Video Consultation"
        ],
        "summary": "Get a friendly consultation summary",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppointmentIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "doctor": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "specialization": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "duration": {
                      "type": "string",
                      "example": "32 minutes"
                    },
                    "diagnosis": {
                      "type": "string"
                    },
                    "prescription": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Prescription"
                      }
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "followUp": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "date": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "notes": {
                      "type": "string"
                    },
                    "reviewSubmitted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doctors/appointments/{appointmentId}/review": {
      "post": {
        "tags": [
          "Video Consultation"
        ],
        "summary": "Submit a review for the doctor (patient only)",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppointmentIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "review": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review submitted"
          }
        }
      }
    },
    "/doctors/appointments/{appointmentId}/prescription": {
      "get": {
        "tags": [
          "Video Consultation"
        ],
        "summary": "Download a prescription (binary blob)",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppointmentIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF / binary",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/doctors/{doctorId}/available-slots": {
      "get": {
        "tags": [
          "Doctors"
        ],
        "summary": "Get a doctor's available time slots for the next 7 days",
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "doctorId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter to a single date."
          }
        ],
        "responses": {
          "200": {
            "description": "Slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "doctorId": {
                      "type": "string"
                    },
                    "doctorName": {
                      "type": "string"
                    },
                    "timezone": {
                      "type": "string",
                      "example": "Asia/Kolkata"
                    },
                    "slotsByDate": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/TimeSlot"
                        }
                      }
                    },
                    "totalAvailableSlots": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doctors/{doctorId}/check-slot": {
      "get": {
        "tags": [
          "Doctors"
        ],
        "summary": "Check if a specific slot is available",
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "doctorId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "timeSlot",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "timeSlot": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "currentBookings": {
                      "type": "integer"
                    },
                    "maxBookings": {
                      "type": "integer"
                    },
                    "reason": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doctors/me/dashboard": {
      "get": {
        "tags": [
          "Doctor Workspace"
        ],
        "summary": "Doctor dashboard",
        "responses": {
          "200": {
            "description": "Dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoctorDashboard"
                }
              }
            }
          }
        }
      }
    },
    "/doctors/me/profile": {
      "get": {
        "tags": [
          "Doctor Workspace"
        ],
        "summary": "My doctor profile",
        "responses": {
          "200": {
            "description": "Doctor profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Doctor"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Doctor Workspace"
        ],
        "summary": "Update my doctor profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "hospital": {
                    "type": "string"
                  },
                  "consultationFee": {
                    "type": "number"
                  },
                  "bio": {
                    "type": "string"
                  },
                  "isAvailable": {
                    "type": "boolean"
                  },
                  "availability": {
                    "$ref": "#/components/schemas/Availability"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Doctor"
                }
              }
            }
          }
        }
      }
    },
    "/doctors/me/appointments": {
      "get": {
        "tags": [
          "Doctor Workspace"
        ],
        "summary": "My appointments (as doctor)",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "confirmed",
                "in-progress",
                "completed",
                "cancelled",
                "no-show"
              ]
            }
          },
[...]
